.father-container-yassine{
    display: flex;
    gap: 3rem;
}
.red-aside{
    height: 100vh;
    width: 20%;
    background-color: red;
}
.profil-dr-pt{
    width: 20%;
    height: 50vh;
    background-color: burlywood;
}
.title-place-yassine{
    background-color: cadetblue;
    margin-bottom: 5rem;
}