body {
    background-color: #ECECEC;
}

.container {
    margin-bottom: 115px
}

/* .mainImg {
    position: relative;
    transform: translate(-5%, -5%);
    margin-bottom: 30px;
} */
.hospital{
    width: 100%;
    object-fit: contain;
}

.hospital {}

.mainInputsContainer {}

.titles {
    margin-bottom: 115px;
}

.te3baLa3bed {
    position: relative;
}

.col-md-6 {
    position: relative;
}

.form-label {
    position: absolute;
    top: -25px;
    left: 25px;




}

.form-control {
    border-width: 3px;
    border-color: rgba(0, 126, 133, 1);
    background-color: #ECECEC;
}

.form-floating {
    position: relative;
}

.form-check-input {
    position: absolute;
    top: 450px;
    left: 25px;
}

.form-check-label {
    position: absolute;
    top: 450px;
    left: 30px;
}

.form-select {
    border-width: 3px;
    border-color: rgba(0, 126, 133, 1);
    ;
    background-color: #ECECEC;
}

.col-12 {
    /* margin-bottom: 18px; */
}

.btn-primary_y {
    width: 25rem;
    height: 4rem;
    background-color: rgba(0, 126, 133, 1);

}

.messageLabel {
    position: absolute;
    top: -42px !important;
    left: 15px !important;
}

.form-label-wahadha {
    position: absolute;
    top: 195px;
    left: 0px;
}

.search-bottom {
    /* margin-top: 35px !important; */
}

.search-bottom-Maincontainer {
    display: flex !important;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-bottom-container {
    display: flex;
    position: relative;
}

.bottom-input {
    border-radius: 3rem;
    width: 25rem;
    height: 4rem;
    padding-left: 1rem;

}

.last-button {
    border-radius: 3rem;
    padding: 1rem 3rem;
    color: #ECECEC;
    background-color: rgba(0, 126, 133, 1);

}

.btn-removeHover:hover {
    background: rgba(0, 126, 133, 1);
}