* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}
.allRegisterContainer {
  display: flex;
  margin: 2rem 5rem;
  margin-top: 8%;
  margin-right: 25%;
}
.signInFormContainer {
  width: 60% !important;
}
.dividerContainer:after,
.dividerContainer:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.formOutline {
  position: relative;
  margin-bottom: 2rem;
}
.formInput {
  margin-bottom: 3%;
  width: 100%;
  font-size: 12px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
}
.formLabel {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 14px;
  color: #999;
  pointer-events: none;
  transition: 0.3s;
}
.formInput:focus + .formLabel,
.formInput:valid + .formLabel {
  top: -12px;
  font-size: 12px;
  color: #333;
}
.textCenter {
  display: flex;
  justify-content: center;
  margin-left: 15%; 
}
.btnPrimary {
  background: linear-gradient(#16877d, #75b276);
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btnPrimary:hover {
  transform: scale(1.1);
}

.nav-bar-container {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #ececec; /* Set your desired background color */
  height: 82.5px; /* Set your desired height */
  z-index: 1000; /* Set a higher z-index to ensure it appears above other elements */
}

.imageContainer {
  margin-left: 10%;
  position: relative;
  margin-top: 1%;
  transform: scale(1);
  left: 15%;
  z-index: 0;
}

.doctorImage{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 2%;
  object-fit: contain;
  right: 1%;
  margin-top: -9.6%;
}
.backImage {
  z-index: 0;
  height: 400px;
  width: 400px;
  margin-top: 33.8%;
}

.formLabel{
  margin-top: -8px;
  font-size: 20px;
  cursor: pointer;
}

.formInput{
  background-color: white;
}

