.father-container-yassine{
    display: flex;
    gap: 3rem;
}
.profil-dr-pt{
    width: 20%;
    height: 50vh;
    background-color: burlywood;
}
.title-place-yassine{
    background-color: cadetblue;
    margin-bottom: 5rem;
}
.profile-section{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}
.row{
    margin-left: 0 !important;
}